<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center; width:100%">
    <h1>
        Welcome to {{ title }}!
    </h1>
</div>
<div class="nav-bar">
    <nav>
        <ul>
            <li class="navMenuItem">
                <a routerLink="/">Home</a>
            </li>
            <li class="navMenuItem">
                <a routerLink="/janusze">Janusze</a>
            </li>
            <li class="navMenuItem">
                <a routerLink="/link"></a>
            </li>
        </ul>
    </nav>
</div>
<div class="content-presenter">
    <section>
        <router-outlet></router-outlet>
    </section>
</div>